* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v17_142 {
  width: 844px;
  height: 391px;
  background: url("../images/v2_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 300px;
  overflow: hidden;
}
.v2_80 {
  width: 196px;
  height: 91px;
  background: rgba(255,232,254,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 241px;
  left: 328px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  overflow: hidden;
}
.v2_75 {
  width: 277px;
  height: 189px;
  background: rgba(255,232,254,1);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 284px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.6000000238418579);
  overflow: hidden;
}
.v2_81 {
  width: 85px;
  height: 80px;
  background: rgba(193,197,252,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 380px;
  border-radius: 50%;
}
.v2_82 {
  width: 225px;
  height: 32px;
  background: url("../images/v2_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 310px;
  overflow: hidden;
}
.v2_83 {
  width: 34px;
  height: 32px;
  background: rgba(97,131,140,1);
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 310px;
  overflow: hidden;
}
.v2_84 {
  width: 225px;
  height: 32px;
  background: url("../images/v2_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 310px;
  overflow: hidden;
}
.v2_85 {
  width: 34px;
  height: 32px;
  background: rgba(97,131,140,1);
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 310px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_87 {
  width: 17px;
  height: 15px;
  background: url("../images/v2_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 319px;
  overflow: hidden;
}
.v2_88 {
  width: 23px;
  height: 23px;
  background: url("../images/v2_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 315px;
  overflow: hidden;
}
.v2_89 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 298px;
  left: 392px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v2_90 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 162px;
  left: 343px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v2_91 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 207px;
  left: 347px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
